@each $key, $value in $colorMap {
  @each $style in -ft, -bg, -bd {
    @if $style=='-ft' {
      .#{$key}#{$style} {
        color: $value;
      }
    }
    @if $style=='-bg' {
      .#{$key}#{$style} {
        background-color: #{$value};
      }
    }
    @if $style=='-bd' {
      .#{$key}#{$style} {
        border-color: $value;
      }
    }
  }
}

@each $key, $value in $sizeMap {
  .#{$key} {
    font-size: $value;
  }
}

@each $item in $disMap {
  .ml-#{$item} {
    margin-left: #{$item}px;
  }
  .mr-#{$item} {
    margin-right: #{$item}px;
  }
  .mt-#{$item} {
    margin-top: #{$item}px;
  }
  .mb-#{$item} {
    margin-bottom: #{$item}px;
  }
  .pl-#{$item} {
    padding-left: #{$item}px;
  }
  .pr-#{$item} {
    padding-right: #{$item}px;
  }
  .pt-#{$item} {
    padding-top: #{$item}px;
  }
  .pb-#{$item} {
    padding-bottom: #{$item}px;
  }
}

.overhidden {
  overflow: hidden;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.elp {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.elp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.op {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  filter: alpha(opacity=0)
}

.op-bg {
  background-color: rgba(0, 0, 0, 0);
}

.rel {
  position: relative;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.force-break {
  word-break: break-all;
}

.no-style-link {
  text-decoration: none;
  color: inherit;
}

.no-select {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.more-bold {
  font-weight: 900;
}

